@charset "utf-8";body {
    font: 12px arial;
    background: #E8EEFB;
    margin: 0 auto;
}

ul {
    margin: 0px;
    padding: 0px;
}

div {
    margin: 0 auto;
}

img {
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3a64b0;
}

a:hover {
    text-decoration: underline;
}

.body {
    background: #ffffff;
    width: 984px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ffffff;
    text-align: center;
}

.body ul,.body li {
    line-height: 15px;
}

.body .left {
    word-break: break-all;
    float: left;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
    width: 760px;
}

.body .right {
    float: right;
    text-align: left;
    vertical-align: top;
    width: 198px;
}

.author {
    text-align: center;
    width: 980px;
    height: 90pxfloat:bottom;
    color: 0b6fba;
    /*background:#f8fafc;*/
    overflow: auto;
}

.author .in {
    margin-top: 20px;
    float: bottom;
    margin-bottom: 20px;
    /*background:#f8fafc;*/
    overflow: auto;
}

.hei2 {
    height: 221px;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.l10 {
    margin-left: 10px;
}

.t10 {
    margin-top: 10px;
}

.t30 {
    margin-top: 30px;
}

.font14 {
    font-size: 14px;
}

.font12 {
    font-size: 12px;
}

.color_h {
    color: #555;
}

.bder_color {
    border: 1px solid #d0e9ff;
}

.cen {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/** 密钥 e */
/** 示例 s */
.sl_bg {
    width: 964px;
    height: 32px;
    background: #f5f9fc;
    vertical-align: middle;
    line-height: 32px;
    display: inline-block;
}

.font_color {
    color: #2f83c7
}

.bg_h2 {
    background: #edf6fe;
}

.bder_color3 {
    border: 1px solid #e3f2ff;
}

/** 创建地图 s */
.map_open {
}

.map_open .map_content {
    display: block;
}

.map_open .map_content div,.map_open .map_content span,.map_open .map_content input {
    padding: 0px;
    margin: 5 0 0 0px;
}

.map_close {
}

.map_close .map_content {
    display: none;
}

/*自定义地图工具begin by wxp*/
 {
    color: #282828;
    font: 12px arial,sans-serif
}

 div, span, p, input {
    margin: 0;
    padding: 0;
}

.wxp_list1 {
    font-size: 12px;
    padding: 0 8px;
    overflow: hidden;
}

.wxp_list1 .cor_1 {
    color: #4c4c4c
}

.wxp_list1 .cor_2 {
    color: #2f82c4;
    text-decoration: underline;
    cursor: pointer;
}

.wxp_list1 li {
    overflow: hidden;
    margin-top: 12px;
    clear: both;
    zoom:1;}

.wxp_list1 .h5 {
    float: left;
    line-height: 24px;
}

/*新增 X、Y、Level显示*/
.wxp_list1 .input1 {
    margin-top: 5px;
    color: #727272
}

.wxp_list1 .input1 input {
    background: #F5F5F5;
    border: 1px solid #D1E7FB;
    color: #727272
}

.wxp_list1 .input2 input {
    background: #F5F5F5;
    border: 1px solid #D1E7FB;
    color: #727272;
    text-align: center;
    width: 35px;
}

.wxp_list2 {
    margin: 5px 0 0 60px;
    font-size: 12px;
    position: relative;
}

.map_content .mar2 {
    margin-top: 2px;
}

/*.wxp_list2 li{height:13px;*height:23px;padding:5px 0;overflow:hidden;}*/
.wxp_list2 li {
    height: 25px
}

.wxp_list2 li.hei2 {
    height: 40px;
}

.wxp_list2 li.hei3 {
    height: 20px;
}

.wxp_list2 li.hei4 {
    height: 90px;
}

 .wxp_list2 li.hei4 label {
    height: 20px;
    clear: left;
    margin: 1px 0 0 5px
}

.wxp_list2 .h5 {
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: -60px;
}

.wxp_list2 .h6 {
    background: #f4f4f4;
    padding-top: 5px;
    height: 18px;
    *height: 23px;
    overflow: hidden;
}

.wxp_list2 .hei4 {
    height: 4px;
    overflow: hidden;
    padding: 0;
}

/*定位中心点*/
.wxp_content1 {
    float: left;
}

.wxp_content1 .wxp_lis_con1 {
    display: block;
}

.wxp_content1 .wxp_lis_con2 {
    display: none;
}

.wxp_content2 {
    float: left;
}

.wxp_content2 .wxp_lis_con1 {
    display: none;
}

.wxp_content2 .wxp_lis_con2 {
    display: block;
}

.dwzxd_box1 {
    display: block;
    float: left;
    width: 113px;
    *width: 114px;
    height: 22px;
    line-height: 22px;
    border: #e3f2ff solid 1px;
    border-right: 0;
    background: #f3f8fc;
    text-align: center;
    color: #2f83c7;
    font-weight: 700
}

 div.dwzxd_box2 {
    display: block;
    float: left;
    border: #cfe9ff solid 1px;
    color: #2f83c9;
    padding: 1px;
}

.dwzxd_box2 span {
    display: block;
    width: 50px;
    height: 20px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_bt_img_1.gif");
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

 div.dwzxd_box3 {
    margin-left: 2px;
    display: inline;
}

.dwzxd_box3 span {
    width: 38px;
}

.inputT_2 {
    width: 149px;
    height: 22px;
    border: #d6d6d6 solid 1px;
    color: #c0c0c0;
    border-right: 0;
    float: left;
    line-height: 22px;
}

.inputT_4 {
    width: 90px;
    border-right: #e4f2ff solid 1px;
    color: #8C8C8C;
}

 label {
    cursor: pointer;
    position: relative;
    padding-left: 17px;
    margin: 0 13px 5px 3px;
    float: left;
}

 label input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    *top: -5px;
    *left: -3px;
}

 .radio {
    position: relative;
    margin-left: 40px;
    margin-top: 5px;
}

 .radio span {
    position: absolute;
    top: 0;
    left: -35px;
    color: #3184c8
}

 .checkbox {
}

 textarea {
    resize: none
}

.wxp_list2 .color_1 {
    color: #727272
}

.wxp_list2 .wxp_li_h1 {
    top: 5px;
    *top: 9px;
}

.wxp_list2 .wxp_li_h2 {
    top: 4px;
    *top: 8px;
}

.wxp_li_s1 {
    margin-bottom: 3px;
    vertical-align: top
}

 .wxp_list2 .inputT_1 {
    width: 95px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #E3F2FF;
    color: #727272;
    margin: 0 3px 0 0
}

 .wxp_nav_1 {
    width: 223px;
    height: 34px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_7.gif");
    margin-top: 7px
}

.wxp_nav_bg1,.wxp_nav_bg2,.wxp_nav_bg3 {
    padding: 0
}

.wxp_nav_bg1 li,.wxp_nav_bg2 li,.wxp_nav_bg3 li {
    float: left;
    width: 74px;
    height: 34px;
    text-indent: -100px;
    overflow: hidden;
    cursor: pointer;
}

.wxp_nav_bg1 .nav1 {
    width: 75px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_7_1.gif");
}

.wxp_nav_bg2 .nav2 {
    width: 75px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_7_2.gif");
}

.wxp_nav_bg3 .nav3 {
    width: 75px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_7_3.gif");
}

.wxp_nav_2 {
    width: 225px;
    height: 22px;
    border: #ffe5a0 solid 1px;
    background: #fffac3;
    color: #ed760e;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

 .wxp_nav_3 {
    width: 213px;
    *width: 223px;
    height: 24px;
    padding: 0 5px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_bt_img_5.gif") no-repeat 0 0;
    color: #656565;
    margin-top: 5px;
}

 .wxp_nav_3 span {
    cursor: pointer;
}

.wxp_lis_1 {
    font-size: 12px;
    margin-top: 10px;
}

.wxp_lis_1 li {
    line-height: 24px;
}

 .wxp_con_1 {
    width: 221px;
    border: #d6d6d6 solid 1px;
    border-top: 0;
}

.wxp_lis_2 {
    padding: 6px 6px 3px;
    *padding-bottom: 0;
}

.wxp_lis_2 li {
    height: 25px;
    line-height: 25px;
    clear: both;
    margin-bottom: 3px;
}

.wxp_lis_2 .li_hei1 {
    height: 33px;
}

.wxp_lis_2 li.hei2 {
    height: 80px;
}

.wxp_lis_2 li.hei3 {
    height: 90px;
}

.wxp_lis_2 .ptInput1,.wxp_lis_2 .ptInput2 {
    float: left;
    border: #d6d6d6 solid 1px;
    font-size: 12px;
    color: #646464
}

.wxp_lis_2 .wxp_nav_4 {
    float: left;
    width: 63px;
}

.ptInput1 {
    width: 141px;
    height: 24px;
    line-height: 24px;
}

.ptInput2 {
    width: 141px;
    height: 80px;
    overflow-y: auto;
}

 .wxp_img_con1 {
    float: left;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    background: #f7f7f7;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

 .wxp_con_2 {
    position: absolute;
    top: -1000px;
    left: 2px;
    width: 207px;
    *width: 219px;
    line-height: 25px;
    clear: both;
    overflow: hidden;
    background: #fff;
    font-size: 12px;
    border: #83A5E2 solid 1px;
    padding: 5px;
}

.wxp_con_2 a {
    display: block;
    float: left;
    width: 32px;
    *width: 34px;
    height: 33px;
    text-align: center;
    border: #fff solid 1px;
    margin-top: 1px;
}

.wxp_con_2 a.on,.wxp_con_2 a:hover {
    border: #83A5E2 solid 1px;
    background: #EFF3FC
}

 .wxp_con_2 .null {
    display: inline;
    float: none;
}

 .wxp_con_2 a.null:hover {
    border: 0;
    background: none;
}

 .wxp_lis_2 label {
    line-height: 15px;
    margin-top: 8px;
}

.wxp_con_3 {
    width: 221px;
    height: 34px;
    text-align: center;
}

 .wxp_con_3 input {
    border: 0;
    color: #646464;
    cursor: pointer;
    width: 70px;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_6.gif") no-repeat 0 0;
    text-align: center;
}

#signCodeCon {
    width: 930px;
    padding: 10px;
    height: 500px;
    border: #ccc solid 1px;
    position: absolute;
    top: 200px;
    left: 100px;
    background: #fff;
    z-index: 5000
}

#signCodeCon .title {
}

#signCodeCon h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    color: #2F2D2D;
    border-bottom: #ccc solid 1px;
    margin: 0;
    padding: 0
}

#signCodeCon .button {
    float: right;
    cursor: pointer;
    margin: -30px 20px 0 0;
}

#signCodeCon .button input {
    cursor: pointer;
}

#signCodeCon textarea {
    resize: none;
    overflow: visible;
    padding: 5px;
    width: 95%;
    height: 400px;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    margin-top: 20px;
}

#bareasign {
    width: 100%;
    height: 301px;
    border: 0;
    font-size: 12px;
    color: #2F83C7;
    font-family: consolas,"courier new",monospace
}

.sign_getCode {
    background: #E7F3FC;
    border: 1px solid #1887EE;
    color: #1A79C5;
    font-weight: 700;
    height: 22px;
    margin-left: 25px;
    width: 92px;
    cursor: pointer;
}

/*用户自定义标记*/
.sp_s {
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/us_cursor.gif") no-repeat;
    overflow: hidden;
}

.sp_11 {
    width: 12px;
    height: 21px;
    background-position: 0 0;
    margin-top: 5px;
}

.sp_12 {
    width: 12px;
    height: 21px;
    background-position: -23px 0;
    margin-top: 5px;
}

.sp_13 {
    width: 12px;
    height: 21px;
    background-position: -46px 0;
    margin-top: 5px;
}

.sp_14 {
    width: 12px;
    height: 21px;
    background-position: -69px 0;
    margin-top: 5px;
}

.sp_15 {
    width: 12px;
    height: 21px;
    background-position: -92px 0;
    margin-top: 5px;
}

.sp_16 {
    width: 12px;
    height: 21px;
    background-position: -115px 0;
    margin-top: 5px;
}

.sp_21 {
    width: 19px;
    height: 25px;
    background-position: 0 -21px;
    margin-top: 3px;
}

.sp_22 {
    width: 19px;
    height: 25px;
    background-position: -23px -21px;
    margin-top: 3px;
}

.sp_23 {
    width: 19px;
    height: 25px;
    background-position: -46px -21px;
    margin-top: 3px;
}

.sp_24 {
    width: 19px;
    height: 25px;
    background-position: -69px -21px;
    margin-top: 3px;
}

.sp_25 {
    width: 19px;
    height: 25px;
    background-position: -92px -21px;
    margin-top: 3px;
}

.sp_26 {
    width: 19px;
    height: 25px;
    background-position: -115px -21px;
    margin-top: 3px;
}

.sp_31 {
    width: 17px;
    height: 21px;
    background-position: 0 -46px;
    margin-top: 5px;
}

.sp_32 {
    width: 17px;
    height: 21px;
    background-position: -23px -46px;
    margin-top: 5px;
}

.sp_33 {
    width: 17px;
    height: 21px;
    background-position: -46px -46px;
    margin-top: 5px;
}

.sp_34 {
    width: 17px;
    height: 21px;
    background-position: -69px -46px;
    margin-top: 5px;
}

.sp_35 {
    width: 17px;
    height: 21px;
    background-position: -92px -46px;
    margin-top: 5px;
}

.sp_36 {
    width: 17px;
    height: 21px;
    background-position: -115px -46px;
    margin-top: 5px;
}

/*sign*/
#J_favInfo,#J_shareInfo,#J_TagPInfo {
    position: absolute;
    z-index: 20;
    width: 100px;
    right: 100px;
    top: 25px;
    background-color: #FFFECC;
    border: 1px solid #DFB259;
    white-space: normal;
    padding: 2px;
    color: #CC0000
}

#J_favInfo .j,#J_shareInfo .j,#J_TagPInfo .j {
    width: 9px;
    height: 5px;
    background: url(img/sign.gif) no-repeat -31px -79px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -5px;
}

.hide {
    display: none;
}

.JhasFav {
    cursor: default;
    color: #ccc
}

#J_shareInfo {
    right: 20px
}

/*自定义地图工具end*/
#MapContent label {
    float: none;
    margin: 0;
    padding-left: 0;
}

.color_s1 {
    color: #3083c7
}

.color_s1 a {
    color: #3083c7;
    text-decoration: underline;
}

.color_s2 {
    color: #727272
}

.color_s3 a {
    font-family: "宋体";
    color: #3083c7;
    text-decoration: underline;
}

.padding_sl20 {
    padding-left: 20px;
}

.margin_sT5 {
    margin-top: 5px;
}

.margin_sT15 {
    margin-top: 15px;
}

.margin_sT20 {
    margin-top: 20px;
}

.sign_content1 {
    width: 966px;
}

.sign_content2 {
    width: 944px;
    display: inline-block
}

 .map_title_s {
    width: 223px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}

.map_open .map_title_s {
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_1.gif");
    cursor: pointer;
    color: #2f84c7
}

.map_close .map_title_s {
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_2.gif");
    cursor: pointer;
    color: #808080
}

.sign_nav_1 {
    width: 944px;
    height: 20px;
    line-height: 20px;
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_3.gif") repeat-x;
    padding-top: 15px;
}

.sign_nav_2 {
    margin-bottom: 5px;
}

.sign_content3 {
    text-align: center;
    margin: 10px 0 25px;
}

.sign_content3 input {
    width: 113px;
    height: 36px;
    border: 0;
    cursor: pointer;
    margin-right: 20px;
}

.sign_content3 .sign_bt_1 {
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_4.gif")
}

.sign_content3 .sign_bt_2 {
    background: url("http://api.map.baidu.com/lbsapi/creatmap/images/wxp_nav_l_5.gif")
}

.cur_point {
    cursor: pointer;
}

.signBoxCon {
    width: 984px;
    height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 20000
}

.signBoxCon textarea {
    margin: 0;
    padding: 0;
}

/*气泡样式*/
 .iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap;
}

 .iw_poi_content {
    font: 12px arial,sans-serif;
    padding-top: 4px;
    overflow: visible;
    width: 100%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
}

/*气泡样式*/
 .signTip {
    text-align: center;
    color: #f00;
    margin-top: 7px;
}

/** 创建地图 e */
